.App {
  text-align: center;
}

.loginbutton, .registerbutton{
  width: 7%;
  min-width: 120px;
}

.registerbutton{
  display: inline-block;
}

.logindiv{
  justify-self: end;
}

.regdiv{
  min-height: 450px;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.mainrow{
  display: flex;
  align-self: stretch;
  justify-content: space-around;
  align-items: stretch;
  padding: 0;
  margin: 0;
  flex: 1;
}


.maininfo{
  background: rgb(54, 217, 182);
  background: linear-gradient(90deg, rgb(54, 106, 217) 0%, rgb(32, 152, 92) 43%);
}



.title{
  width: 50%;
  height: 25%;
  min-height: 70px;
  margin-left: auto;
  margin-right: auto;
  padding: 15px;
  text-align: center;
}

#header{
  margin-top: 5%;
  font-size: 40px;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.card {
  margin-top: 35px;
  min-height: 400px;
  box-shadow:0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  width: 18rem;
  height: 513px;
}
.cardImg{
  min-height: 225px;
  border-radius: 8px;
  box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
}
.titlePost {
  font: 700 28px 'Amatic SC' !important;
}
.desc{
 font: 400 18px 'Roboto' !important;
}
.buttonPost{
  background-color: #e49a12!important;
  border: none!important;
}

.card:nth-last-child(-n + 2) {
  flex-grow: 0;
}

.navbarClass{
  background-color: #e49a12!important;
}

@media screen and (max-width: 530px) {
  .card{
    margin-right: auto;
    margin-left: auto;
  }
}
